header{
    background-color: #fff;
    margin-top: 20px;
}
.headContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    display: flex;
    gap: 10px;
    align-items: center;
}
.title svg{
    font-size: 25px;
}
.title h2{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
}
.notification svg{
    font-size: 25px;
}